@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
}
@import "@fontsource/poppins";
body {
    font-family: "Poppins", sans-serif;
}
@keyframes cursor-blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animate-cursor {
    animation: cursor-blink 1s step-end infinite;
}
